// header
.header-container {
  display: flex;
  flex-direction: column;

  .login-btn {
    text-decoration: none;
    color: black;
    margin: 15px;
    float: right;

    &:hover {
      color: #D28481;
    }
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .header-title {
      font-size: 2.5rem;
      font-weight: bold;
      text-decoration: none;
      color: black;
      margin: 0 20px;
    }

    li {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      ul {
        padding-left: 0;
        margin: 0 35px;

        .list-item {
          margin: 0;
          text-decoration: none;
          color: black;

          &:hover {
            color: #D28481;
          }
        }
      }
    }
  }
}

// main content
.board-container {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: #555;
    font-size: 18px;
  }

  .board-recent {
    display: flex;
    flex-direction: row;    

    .recent-item {
      margin: 20px;
      border: solid 1px #bdc0ba;
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: fit-content;

      .recent-thumbnail {
        width: 200px;
      }

      .recent-title {
        margin-top: 20px;
        font-size: 18px;
        color: black;
        text-decoration: none;
      }

      .recent-content {
        color: #999;
      }
    }
  }

  .board-content{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-content: center;

    .content-item {
      margin: 10px;
      padding: 20px;
      width: 90%;
      display: table-column;
      justify-content: space-around;

      .content-title {
        font-size: 20px;
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
      }
      .content-article {
        font-size: 20px;
        color: rgb(85, 85, 85);
        text-decoration: none;
        margin: 10px 0;
      }

      .content-date {
        font-size: 15px;
        color: #999;
      }
    }
  }
}

// footer
.wrap {
  min-height: 100vh;
  position: relative;
  width: 100%;
  .footer-section {

  }
  .footer {
    width: 100%;
    height: 60px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    border-top: solid 1px #bdc0ba;

    a {
      float: left;
      margin: 0 20px;
      text-decoration: none;
      color: #1f1f1f;
      font-size: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}