// header
.header-container {
  display: flex;
  flex-direction: column;

  .login-btn {
    text-decoration: none;
    color: black;
    margin: 15px;
    float: right;

    &:hover {
      color: #D28481;
    }
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .header-title {
      font-size: 2.5rem;
      margin: 0 20px;
    }

    li {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      ul {
        padding-left: 0;
        margin: 0 35px;

        .list-item {
          margin: 0;
          text-decoration: none;
          color: black;

          &:hover {
            color: #D28481;
          }
        }
      }
    }
  }
}

// main content
.main-content {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;

  .l-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .content-user {
      width: 20%;
      border: solid 1px #bdc0ba;
    }

    img {
      height: 200px;
      width: 500px;
    }

    .content-visited {
      width: 20%;
      border: solid 1px #bdc0ba;
    }

    .content-top {
      width: 20%;
      margin: 50px 0;
      border: solid 1px #bdc0ba;
      height: 250px;
    }

    .content-recent {
      width: 75%;
      margin: 50px 0;
      border: solid 1px #bdc0ba;
    }
  }
}


// footer
.wrap {
  min-height: 100%;
  position: relative;
  width: 100%;
  .footer-section {

  }
  .footer {
    width: 100%;
    height: 60px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    border-top: solid 1px #bdc0ba;
    a {
      float: left;
      margin: 0 20px;
      text-decoration: none;
      color: #1f1f1f;
      font-size: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}